a {
	color: #bfbfbf;
	text-decoration: none;
}
body {
	align-items: center;
	background-color: #bfbfbf;
	font-family: arial, helvetica, sans-serif;
}
h1 {
	font-weight: bold;
}
.inner {
	background-color: #4d5e16;
	border: 2px solid;
	color: #000000;
	height: 75%;
	margin-left: 3%;
	overflow-x: hidden;
	overflow-y: scroll;
	padding: 2%;
	scrollbar-color: #4d5e16 #0f380f;
	width: 75%;
}
.inner-link {
	color: #9bbc0f;
}
.outer {
	background-color: #6b697b;
	border-bottom-color: #aaaaaa;
	border-bottom-style: solid;
	border-bottom-width: 3px;
	border-right-color: #aaaaaa;
	border-right-style: solid;
	border-right-width: 3px;
	border-radius: 25px;
	color: #bfbfbf;
	display: flex;
	font-size: 20px;
	height: 50%;
	padding: 3%;
	width: 50%;
}
.blue-line {
	background-color: #070050;
	border-color: #070050;
	border-radius: 25px;
	height: 2%;
	width: 75%;
}
.pink-line {
	background-color: #791451;
	border-color: #791451;
	border-radius: 25px;
	height: 2%;
	width: 75%;
}
.blue-text {
	color: #070050;
}
