body {
	align-items: center;
	background-color: #bfbfbf;
	font-family: arial, helvetica, sans-serif;
}
.inner {
	background-color: #4d5e16;
	border: 2px solid;
	color: #000000;
	font-size: 20px;
	height: 75%;
	margin: 3%;
	overflow-y: scroll;
	width: 75%;
}
.outer {
	background-color: #6b697b;
	border-radius: 25px;
	color: #bfbfbf;
	display: flex;
	height: 50%;
	justify-content: center;
	text-shadow: 0px, 2px #aaaaaa, 2px aaaaaa, 0px;
	width: 50%;
}
.blue-line {
	background-color: #070050;
	border-color: #070050;
	border-radius: 25px;
	height: 2%;
	width: 20%;
}
.pink-line {
	background-color: #791451;
	border-color: #791451;
	border-radius: 25px;
	height: 2%;
	width: 20%;
}
